<h1>Private Page</h1>>

<div class="d-flex justify-content-center">
	<form class="d-flex flex-column align-items-center" action="/addpost" method="POST" >
		<div class="mb-3">
			<input name="img" placeholder="Ссылка на фото" type="text" class="form-control">
		</div>
		<div class="mb-3">
			<input name="post" placeholder="Текст" type="text" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Отправить</button>
	</form>
</div>


<div class="card" style="width: 18rem;">
  <img src=".https://mdn.mozillademos.org/files/2917/fxlogo.png." class="card-img-top" alt="Аватар">
            <input type="image" name="image" src="https://mdn.mozillademos.org/files/2917/fxlogo.png" width="50">

  <div class="card-body">
    <input name="post" placeholder="Текст" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</div>

<hr />

<section class="d-flex flex-column align-items-center">
	{{#each listOfPeople}}
		<div class="card my-2" style="width: 18rem" >
			<div class="card-image">
				<a href="{{this.image}}">
            <img src="{{this.image}}" class="card-img-top pt-2" >
            </a>
			<div class="card-text">
				<p class="card-text">{{this.text}}</p>
			</div>
		</div>
		  </div>
	{{/each}}
	


	
</section>


